.ifm-core-image {
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}