@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

html {
    font-size: 18px;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 1.2rem;
    color: #333333;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1.25rem;
}

h1, h2, h3 {
    line-height: 1.2;
}