.ifm-core {
    text-align: center;
}

.ifm-core-container {
    position: relative;
    display: inline-block;
}

.ifm-core-image {
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.ifm-core-btn {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: linear-gradient(0deg, #0650ff, #8ecbff);
    animation-name: pulse-white;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: inset 0 -4px 4px rgba(0, 0, 0, 0.16);
}

.ifm-core-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    font-size: 14px;
    margin-top: calc(25px + 10px + 5px);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.ifm-core-tooltip.ifm-core-tooltip-bottom {
    margin-top: 0;
    margin-bottom: calc(25px + 10px + 5px);
}

.ifm-core-tooltip::before {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: calc((25px - 10px) / 2);
    border: solid 5px transparent;
    border-bottom-color: #ffffff;
}

.ifm-core-tooltip.ifm-core-tooltip-right::before {
    left: auto;
    right: calc((25px - 10px) / 2);
}

.ifm-core-tooltip.ifm-core-tooltip-bottom::before {
    top: auto;
    bottom: -10px;
    border-bottom-color: transparent;
    border-top-color: #ffffff;
}

.ifm-core-tooltip.ifm-core-show {
    opacity: 1;
    z-index: 99999;
}

@keyframes pulse-white {
    0% {
        box-shadow: inset 0 -4px 4px rgba(0, 0, 0, 0.16),
                    0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: inset 0 -4px 4px rgba(0, 0, 0, 0.16),
                    0 0 0 20px rgba(255, 255, 255, 0);
    }
}